body {background-color: antiquewhite; margin: 0px}
p {background-color: white; font-size: 30px; margin: 0}
#bark {float: left; margin: 20px 0px 0px 20px; width: 200px}
#bg {position: fixed; margin: 121px 0px 0px 21px}
#edward {float: left; margin: -193px 0px 0px 1215px; width: 200px}
#mot {float: left; margin: 358px 0px 0px 1015px; width: 200px}
#overScreen {position: absolute; margin: 121px 0px 0px 21px; height: 701.319px}
#play {margin: 310.5px 0px 0px 838px}
#tom {float: left; margin: -193px 0px 0px 1415px; width: 200px}
#tv {float: left; margin: 100px 0px 0px 600px; width: 200px}